
  	<!--loop through each element in model array-->
  	<div class="{{hideRepeat}}">
      <div ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
        <hr class="repeat-section-breaker"/>
        <formly-form fields="fields"
                     model="element"
                     form="form">
        </formly-form>
        <div style="margin-bottom:20px;">
          <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
            Remove
          </button>
        </div>
    </div>
      <button type="button" class="btn btn-sm btn-success" ng-click="addNew()" >
          {{to.btnText}}
      </button>
  </div>
