<div class="error-page sil-col-12">
    <div class="col-xs-6 text-center">
        <h1 id="error-title">
            403
        </h1>
    </div>
    <div class="sil-col-6 mt40">
        <h2>Access denied</h2>
        <div ng-if="!params.initial_pwd&&!params.no_organisation">
            <p>Sorry you don't have the permission required to access this page. Please contact the <em>system administrator</em> for more details.</p>
            <p>In the meantime you can: </p>
            <a href="javascript:window.history.back()" class="btn btn-default btn-lg" title="Go Back">Go to the previous page</a>
            <button ng-click="goHome()" class="btn btn-default">Go Home</button>
            <a ui-sref="auth_logout" class="btn btn-default">Logout</a>
        </div>
        <div ng-if="params.no_organisation">
            <p>Sorry access to the system has been denied. Kindly request the <em>system administrator</em> to add an organisation to your profile</p>
            <a ui-sref="auth_logout" class="btn btn-default">Logout</a>
        </div>
        <div ng-if="params.initial_pwd">
            <p>Sorry access to the system has been denied. Kindly change your password before you can proceed</p>
            <a ui-sref="auth_change_pwd" class="btn btn-default">Change password</a>
        </div>
    </div>
</div>
