<div id="cssmenu">
    <menu-toggle id="menu-button" class="null menu-opened" >Menu</menu-toggle>
    <ul id="main-top-nav" class="show-me">
        <li ui-sref-active="active" >
            <a ui-sref="scheduling" madeasy-app-actions>
                <i class="fa fa-calendar"></i>Scheduling
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="patients" madeasy-app-actions>
                <i class="fa fa-users"></i>Patients
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="visits" madeasy-app-actions>
                <i class="fa fa-stethoscope"></i>Visit
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="admin" madeasy-app-actions>
                <i class="fa fa-user"></i>Admin
            </a>
        </li>
    </ul>
</div>
