<sil-sidebar>
    <sidebar-label label="Menu"></sidebar-label>
    <sidebar-title
        sref="sil_dashboard"
        icon="desktop"
        title="Dashboard">
    </sidebar-title>
    <sidebar-title
        sref="sil_portlets"
        icon="book"
        title="Portlets">
    </sidebar-title>
    <sidebar-title
        sref="sil_tables"
        icon="table"
        title="Tables">
    </sidebar-title>
    <sidebar-title
        sref="sil_forms"
        icon="edit"
        title="Forms">
    </sidebar-title>
    <sidebar-title
        sref="sil_alerts"
        icon="magnet"
        title="Alerts">
    </sidebar-title>
    <sidebar-title
        sref="sil_tabs"
        icon="toggle-off"
        title="Tabs">
    </sidebar-title>
    <sidebar-title
        sref="sil_timeline"
        icon="text-height"
        title="Timeline">
    </sidebar-title>
    <sidebar-title
        sref="sil_404"
        icon="unlink"
        title="404">
    </sidebar-title>
    <sidebar-title
        sref="sil_500"
        icon="times-circle"
        title="500">
    </sidebar-title>
</sil-sidebar>
